@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@1,500&family=Sigmar&display=swap');
body{
    font-family: 'Poltawski Nowy', serif;
    margin: 0; 
}
@keyframes color {
    0%{
        color: #E6425E;
    }
    25%{
        color: white;
    }
    50%{
        color: #6AC47E;
    }
    75%{
        color: #EDBF69;
    }
    100%{
        color: aqua;
    }
}
.div img{
    width: 1150px;
    height: 500px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 20px;
}
.div1 p{
    margin-left: -1100px;
    position: relative;
    z-index: 10;
    font-size: xx-large;
    width: 500px;
    color: white;
}
.div1 h1{
    margin-left: -1100px;
    position: relative;
    z-index: 10;
    margin-top:60px;
    font-size: xx-large;
    width: 250px;
    animation: color 2s ease  infinite alternate-reverse ;
}

.div2 img{
    margin-left: -500px;
    position: relative;
    z-index: 10;
    width: 450px;
    margin-top: 100px;
}
.flex{
    width: 950px;
    display: flex;
}
.div1 a{
    margin-left: -1100px;
    position: relative;
    z-index: 10;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: xx-large;
    background-image: linear-gradient(#FF9F4A, #FF3C83);
}
.div3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 80px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20px;
}
.div3 a{
    color: black;
    text-decoration: none;
    border: 10px solid black;
    text-align: center;
    padding: 10px;
}
.div3 .a{
    color: white;
    background-image: linear-gradient(#FF4331, #D31A50);
}
.section{
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-left: 330px;
    margin-top: -204px;
}
.div4{
    background-color: white;
}

.div6 img{
    width:100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.div7{
    margin-top: 10px;
    margin-left: 20px;
}
.div9 span{
    padding-left: 35px;
}
.footer{
    color: white;
    text-align: center;
    height: 350px;
    margin-top: 80px;
    background-color: #242B2E;
}
.div10{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 70px;
}
.div11{
    width: 950px;
    padding-top: 80px;
    margin-left: 203px;
}
@media screen and (max-width:688px){
    body{
        width: 100%;
        margin: 0;
    }
    .div img{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    .div1 p{
        position: relative;
        z-index: 10;
        width: 305px;
        margin-left: -740px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .div1 h1{
        position: relative;
        z-index: 10;
        margin-left: -740px;
    }
    .div1 a{
        position: relative;
        z-index: 10;
        margin-left: -740px;
    }
    .div2  img{
        width: 640px;
        position: relative;
        z-index: 10;
        margin-top: 529px;
        margin-left: -758px;
    }
   .div3 a{
    font-size: large;
    gap: 50px;
    border: none;
   }
   .div3{
    border: none;
   }
    .section{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
   }
   .footer{
    color: white;
    text-align: center;
    height: 450px;
    margin-top: 80px;
    background-color: #242B2E;
}
.footer h2{
    margin-left: 60px;
}
   .div10{
    gap: 0px;
    flex-direction: column;
   }
   .div11{
    color: #D31A50;
    width: 688px;
    padding-top: 0px;
    margin-left: -203px;
   }
  
}
@media screen and (min-width:688px) and (max-width:820px) {
    .div img{
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    .div1 p{
        position: relative;
        z-index: 10;
        width: 305px;
        margin-left: -740px;
       
    }
    .div1 h1{
        position: relative;
        z-index: 10;
        margin-left: -740px;
    }
    .div1 a{
        position: relative;
        z-index: 10;
        margin-left: -740px;
    }
    .div2  img{
        width: 688px;
        position: relative;
        z-index: 10;
        margin-top: 529px;
        margin-left: -758px;
    }
   .div3 a{
    font-size: large;
    gap: 50px;
    border: none;
   }
    .section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
   }
   .footer{
    color: white;
    text-align: center;
    height: 450px;
    margin-top: 80px;
    background-color: #242B2E;
}
.footer h2{
    margin-left: 60px;
}
   .div10{
    gap: 0px;
    flex-direction: column;
   }
   .div11{
    color: #D31A50;
    width: 890px;
    padding-top: 0px;
    margin-left: -203px;
   }
  
}