@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&family=Bruno+Ace+SC&family=Poppins:wght@500&display=swap');
body{
    margin: 0 auto;
    font-family: 'Bruno Ace SC', cursive;
    background-color: white;
    max-width: 880px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
}
.nav1{
    margin-left: 10px;
}
.nav{
    margin-left: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@keyframes color {
    0%{
        color:red;
    }
    25%{
        color: aqua;
    }
    50%{
        color: blue;
    }
    75%{
        color: chartreuse;
    }
    100%{
        color: magenta;
    }    
}
.blogs{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.blog {
    width: 580px;
    height: 270px;
    margin-left: 120px;
    margin-top: 50px;

}
.img1 img {
    width: 440px;
    height: 400px;
    margin-left: 30px;
    margin-top: 50px;
}
.blog h1{
    animation: color  2s ease-in-out  infinite ;
}
.blog p{
    margin-bottom: 30px;
    color: #3A3A3A;
}

.a1{
    background-color: brown;
    padding: 10px;
    width: 200px;
    border: 1px solid brown;
    border-radius: 100px;
}
.a1 a{
    text-decoration: none;
    color: white;
    text-align: center;
}

h2{
    text-align: center;
    color: hwb(0 22% 77%);
}

hr{
    width: 800px;
    margin-top: 30px;
    border: 1px solid red;
}
.img2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1110px;
    height: 50px;
   margin-left: 50px;
    margin-top: 20px;
}
.img2 img{
    width: 50%;
    
}
.div1{
    width: 1050px;
    
    margin-left: 150px;
    margin-top: 10px;    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
}
.div3 img{
    width: 300px;
    height: 250px;
}
.div4 h3{
    color: rgb(71, 71, 71);
}
.div5 span{
    color: black;
}
.div6 p{
    color: grey;
}
.div2{
    width: 300px;
    height: 470px;
    margin-top: 50px;
    border: 20px solid white;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px grey;
}
.fa-star{
    font-size: xx-large;
    color: gold;
}
.fa-star-half-stroke{
    font-size: xx-large;
    color: gold;
}
.gears{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-top: 50px;
    margin-left: 200px;
}
.img3 img{
    width: 300px;
    height: 250px;
}
.h1{
    width: 600px;
}
.footer{
    width: 260px;
    margin-left: 580px;
}
.span{
    background-color: maroon;
    width: 200px;
    padding: 10px;
    color: white;
}
@keyframes background-color {
    0%{
    
        background-color:magenta ;
    }
    25%{
        background-color:chartreuse ;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color:aqua ;
    }
    100%{
        background-color: red;
    }    
}
footer{
    width: 1349px;
    animation: background-color 2s ease-in-out  infinite ;
    text-align: center;
    background-color: darkblue;
    color: white;
}
footer h2{
    color: white;
}
@media only screen and (max-width:688px){
    .blogs{
        flex-direction: column-reverse;
        margin-left: 0;
    }
    .img1 img{
        width: 250px;
        height: 250px;
        margin-left: 50px;
        margin-top: 80px;

    }
    .blog{
        width: 400px;
        height: 220px;
        margin-left: 50px;
    }
    .nav1{
        display: none;
    }
    hr{
        display: none;
    }
  .img2{
    flex-direction: column;
    width: 275px;
    height: 60px;
    margin-left: 100px;
    margin-top: 550px;
  }
  .img2 img{
    width: 100%;
}
.h2{
  margin-top: 500px;
  margin-left: 70px;
}
  .div1{
    grid-template-columns: repeat(1,1fr);
    width: 329px;
    height: 4404px;
    margin-left: 100px;
  }
  .gears{
    flex-direction: column-reverse;
  }
  .gear{
    width: 350px;
    margin-left: -140px;
    margin-top: 600px;
  }
  .img3{
    margin-left: -140px;
  }
  .footer{
    margin-left: 100px;
  }
}